.mat-header-cell {
    background:  #37aaf1;
    color: white;
    justify-content:center;
    vertical-align: middle;
    font-size: 14px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
:host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content: center; 
    vertical-align: middle;
    padding: 0 5ex 0  5ex;
}

::ng-deep  .mat-sort-header-arrow {
    color: #fff;
    justify-content:center;
    vertical-align: middle;
}
.buscador {
    width: 18%;
    padding: 6px 0;
}
.redondeado {
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146) !important;
}

.btn-eliminar {
    color: #fff !important;
    background-color: #37aaf1;
    border-color: #a1000096;
    -webkit-box-shadow: 0 0px 10px -5px rgba(200, 15, 30, 0.5);
            box-shadow: 0 0px 10px -5px rgba(200, 15, 30, 0.5);
}
  
.btn-eliminar:hover {
    color: #fff !important;
    background-color: #a1000096;;
    border-color:  #37aaf1;
}
  
  
.btn-eliminar:active {
    background-color: #37aaf1;
}

.btn-green {
    color: #fff !important;
    background-color: rgb(75, 130, 45);
    border-color: rgb(75, 130, 45);
    -webkit-box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.39);
            box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5);
}