<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Posición de Físico</h4>
    <div class="dashboard-container">
      <iframe 
        title="RRFF-PosicionFisico_V4_BigQuery_MR_VF" 
        src="https://app.powerbi.com/view?r=eyJrIjoiZjk0YjU0M2EtM2I4ZC00YzFkLTk5ZTQtODc4ZWU4YzNlZjcxIiwidCI6Ijk4MjAxZmVmLWQ5ZjYtNGU2OC04NGY1LWMyNzA1MDc0ZTM0MiIsImMiOjR9&navContentPaneEnabled=false&filterPaneEnabled=false" 
        frameborder="0" 
        allowFullScreen="true"
        class="responsive-iframe">
      </iframe>
    </div>
  </div>
</div>