.modal-header {
    background-color: #37aaf1;
    color: white;
}
.buscador {
    width: 18%;
    padding: 6px 0;
}
.redondeado {
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146) !important;
}    
.mat-header-cell {
    background:  #37aaf1;
    color: white;
    justify-content:center;
    vertical-align: middle;
    font-size: 14px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}  
.mat-row:hover {
    background-color: rgba(120, 185, 40, 0.205);
    cursor: pointer;
}
.mat-header-cell {
    background:  #37aaf1;
    color: white;
    justify-content:center;
    vertical-align: middle;
    font-size: 14px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}  
:host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content: center; 
    vertical-align: middle;
    padding: 0 2ex 0  2ex;
}
::ng-deep  .mat-sort-header-arrow {
    color: #fff;
    justify-content:center;
    vertical-align: middle;
}
::ng-deep .class-lista_FuturosCM .modal-dialog { 
    max-width: 72%;
    width: 72%;
}

.opcion {
  background-color: transparent !important;
  border: none;
}

mat-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}
:host ::ng-deep .custom-spinner circle{   
    stroke:  rgb(75, 130, 45);
    stroke-opacity: 1 !important;
}
