<div class="page-header">
    <div class="page-leftheader">
      <h4 class="page-title">Próximos Vencimientos IFDs</h4>
      <!-- <div class="row">
        <div class="col">
          <button (click)="exportPPTX()" style="width: 100%;" class="btn btn-green" type="submit">Exportar a PowerPoint</button>
        </div>
        <div class="col">
          <div class="spinner-container" *ngIf="showSpinner">
            <div class="spinner" [style.animationDuration]="currentProgress"></div>
          </div>
        </div>
      </div> -->

      <div *ngIf="downloading">
        <div>Descargando archivo...</div>
        <progress max="100" [value]="progress"></progress>
      </div>
    </div>
    <div class="page-rightheader ms-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"
              width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
              <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
            </svg>
            <span class="breadcrumb-icon"> Home</span></a>
        </li>
        <li class="breadcrumb-item"><span>RDT</span></li>
        <li class="breadcrumb-item"><span>Reportes</span></li>
        <li class="breadcrumb-item active" aria-current="page">Próx. Venc. IFDs </li>
      </ol>
    </div>
  </div>
<powerbi-report [embedConfig]="reportConfig" [cssClassName]="reportClass"></powerbi-report>
