<div>
	<p>{{ fileName }}</p>
</div>


<div class="row">
	<div class="col-md-5">
		<div class="container" appDnd (fileDropped)="onFileDropped1($event)">
			<input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler1($event.target.files)" />
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 63 64">
						<g fill="#3B454F" fill-rule="nonzero">
							<path
								d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
							<path
								d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
							<path
								d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z" />
						</g>
					</svg>
					   <h3>Suelta los archivos aquí o</h3>
					<label for="fileDropRef">Selecciona el archivo</label>
		
			<br>
		</div>
	</div>
	<div class="col-md-7" >
		<div class="row">
			<div class="col-md-7" >
				<div style="width: 80%; ">
					<div class="row">
						<div class="col-md-5">
							<label class="form-label"> Fecha de Reporte </label>
						</div>
						<div class="col-md-6">
							<mat-form-field appearance="outline" (click)="picker?.open()" style="width: 100%">
								<input matInput [ngModel]="this.dtpFecIni | date: 'yyyy/MM/dd'" name="dateFieldView" style="width: 100%; cursor: pointer" (focus)="picker?.open()" (dateChange)="setDateInicio(dateField.value)" readonly/>
								<input style="width: 100%;" matInput [matDatepicker]="picker" name="dateField" #dateField required (dateChange)="setDateInicio(dateField.value)" hidden/>
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							  </mat-form-field>
						</div>
						
					</div>				
				  </div>
			</div>
		    <div class="col-md-2 offset-md-1">
				<button class="btn btn-green" type="submit" (click)="TransformarTrigo()">Transformar y Registrar</button>
			</div>
		</div>
    </div>
</div>



<div class="table-container">
	<table mat-table class="table table-bordered text-nowrap" class="example-table table-bordered"
	matSort matSortActive="created" matSortDisableClear matSortDirection="desc"style="width:100%"   [dataSource]="framebasetrigoDS" >
		<!-- Position Column -->
		<ng-container matColumnDef="s340_Id">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_Id}}</td>
		</ng-container>
	  
		<ng-container matColumnDef="s340_fecha">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_fecha}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_producto">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>		
		    <mat-form-field>
			 <mat-label>Producto</mat-label>
			 <mat-select multiple (selectionChange)="aplicarFiltro($event.value)">
				<mat-option *ngFor="let opcion of obtenerOpcionesMercado()" [value]="opcion">{{ opcion }}</mat-option>
			</mat-select>
		  </mat-form-field></th>
		  <td mat-cell *matCellDef="let element">{{element.s340_producto}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_puerto">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Puerto</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_puerto}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_market">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Mercado</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_market}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_mescontrato">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_mescontrato}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_base">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Base</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_base}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_fob">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Flat</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_fob}}</td>
		</ng-container>
  
		<ng-container matColumnDef="s340_flete">
		  <th mat-header-cell *matHeaderCellDef mat-sort-header>Flete</th>
		  <td mat-cell *matCellDef="let element">{{element.s340_flete}}</td>
		</ng-container>
  
		 <tr mat-header-row *matHeaderRowDef="discolumnvalor;sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: discolumnvalor;"></tr>
	</table>
</div>

	