#deshabilitado{
    color: rgb(168 168 167 / 68%);
}

::ng-deep .my-class-CrearFuturo .modal-dialog { 
    max-width: 22%;
    width: 22%;
}

.br {
    display: block;
    margin-bottom: 0.5em;
}
.modal-header {
    background-color: #37aaf1;
    color: white;
}