.cdk-overlay-container {
    z-index: 99999 !important;
}
mat-progress-bar {
    height: 2em;
}

.swal2-container {
    z-index: 99999999 !important;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #4b822d;
}

::ng-deep .mat-progress-bar-buffer {
    background: #adacacf6;
}

.modalFlats {
    z-index: 100;
}
.theadDVA{
    background-color: #484949;
}
.theadExtraPrima{
    background-color: #1e38dd;
}

::ng-deep{

    .show-ranges{
        z-index: 50 !important;
        right: 0 !important;
        left: auto !important;
    }
    g.raphael-group-109-entityLabels0 text{
        fill: #fff !important;
    }
     rect{
        stroke: none !important;
    }
    .header-icon2 {
        width: 25px;
        position: relative !important;
        z-index: 9;
        right: -45px;
        left: initial !important;
        top: initial !important;
    }
    .my-swal {
        z-index: 1000000;
      }
    .md-drppicker .clear svg{
        margin-top: -12px !important;
    }
    .table-bordered > :not(caption) > *{
        border-width: 1px 0 ;
        border-color: rgba($color: #000000, $alpha: 0.1);
    }
    .fusioncharts-container{
        height: 240px !important;
    }

    .br {
        display: block;
        margin-bottom: 0.5em;
    }
    
}

table thead {
    background-color: #37aaf1;
  }
.theadSuma {
    background-color: #2dce89 !important;
}
.theadResta{
    background-color: #dc0441;
}
.theadParent{
    background-color: #fbff00;
}
.btn-cierres {
    background-color: white;
    background-image: none;
    border-color: #e4e6ef;
    color: 424e79;
    &:hover {
        background-color: white;
        background-image: none;
        border-color: #e7e9f1;
    }
    &:focus,
    &.focus {
        box-shadow: none;
    }
    &.disabled,
    &:disabled {
        color: #495057;
        background-color: white;
        border-color: white;
    }
    &:not(:disabled):not(.disabled) {
        &:active,
        &.active {
            color: #495057;
            background-color: #eff0f6;
            border-color: #e7e9f1;
        }
    }
}

button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
}

.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }

div.record-picker{
    border: 1px solid #252d4a !important;
}
.record-picker li:hover {
    background-color: #272d49 !important;
}
.record-picker li.selected {
    background-color: #191f48 !important;
}

FIELDSET {
    margin: 20px;
    border: 1px solid silver;
    padding: 20px;    
    border-radius: 10px;
}
LEGEND{
    padding: 0.001%;    
}

tbody tr:hover {
    background-color: rgba(120, 185, 40, 0.205);
    cursor: pointer;
}
#deshabilitado{
    color: rgb(168 168 167 / 68%);
}
.modal-header {
    background-color: #37aaf1;
    color: white;
}
.centerbtn{ 
    position:absolute; 
    width:25%; left:35%;
    text-align:center;
    margin:auto;
    /*position: relative; top: 50%; transform: translateY(-50%) translateX(30%); width: 100%;*/
}

.btn-green {
    color: #fff !important;
    background-color: rgb(75, 130, 45);
    border-color: rgb(75, 130, 45);
    -webkit-box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.39);
            box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5);
  }

  .btn-abierto {
    color: #fff !important;
    background-color: rgb(75, 130, 45);
    border-color: rgb(75, 130, 45);
    -webkit-box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.336);
            box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5);
  }
  .btn-cerrado {
    color: #fff !important;
    background-color: #37aaf1;
    border-color: #a1000096;
    -webkit-box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5);
            box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5);
  }
  
  .btn-green:hover {
    color: #fff !important;
    background-color: rgba(120, 185, 40, 0.397);;
    border-color: rgb(120, 185, 40);
  }

@media all and (max-width:30em){
    button.btnresponsive{ display:block; margin:0.4em auto;}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep{
    .dark-mode{
        app-ventasmolienda{

            g rect,
            g rect{
                fill:#10163a !important;
                stroke:#10163a !important;
                color: #eee !important;
            }
            g  text{
                fill: #fff !important;
            }

            .ranges ul li  button{
                color: #fff;
            }

            .md-drppicker,
            .md-drppicker .calendar-table{
                background-color: #10163a !important;
                border: 1px solid #10163a !important;
            }
            .md-drppicker td.available.prev, .md-drppicker th.available.prev,
            .md-drppicker td.available.next, .md-drppicker th.available.next{
                background-color: rgb(146, 146, 146) ;
            }
            .md-drppicker td.available:hover, .md-drppicker th.available:hover{
                color: #000 !important;
            }
            .md-drppicker .btn, .md-drppicker .btn:focus, .md-drppicker .btn:hover{
                background-color:transparent !important;
                color: #fff !important;
            }
            .md-drppicker .clear svg{
                margin-top: -12px !important;
            }
            .md-drppicker .ranges ul li:hover {
                background-color: #10163a !important;
            }
            .table-bordered > :not(caption) > *{
                border-width: 1px 0 ;
                border-color: rgba($color: #fff, $alpha: 0.1);
            }
        }
    }
}



