.mat-row:hover {
    background-color: rgba(120, 185, 40, 0.205);
    cursor: pointer;
}

input {
    width: 270px;
    padding: 6px 0;
}

.redondeado {
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146) !important;
}

.mat-cell {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0.5ex 1ex 0.5ex 1ex;
}

.mat-header-cell {
    background: #37aaf1;
    color: white;
    justify-content: center;
    vertical-align: middle;
    font-size: 14px;
    height: 10px !important;
    min-height: 10px !important;
    max-height: 10px !important;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 0.5ex 1ex 0.5ex 1ex;
    text-align: center !important;
    position: relative;
}

.btn-green {
    color: #fff !important;
    background-color: rgb(75, 130, 45);
    border-color: rgb(75, 130, 45);
    -webkit-box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.39);
    box-shadow: 0 0px 10px -5px rgba(120, 185, 40, 0.5);
}

.btn-green:hover {
    color: #fff !important;
    background-color: rgba(120, 185, 40, 0.397);
    ;
    border-color: rgb(120, 185, 40);
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.05em 0px !important;
}