<div class="page-header">
    <div class="page-leftheader">
            <h4 class="page-title">{{tituloTabla}}</h4>
    </div>

    <div class="page-rightheader ms-auto d-lg-flex d-none">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="d-flex"
              ><svg
                class="svg-icon"
                xmlns="http://www.w3.org/2000/svg"
                height="24"
                viewBox="0 0 24 24"
                width="24"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"
                />
                <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" /></svg><span class="breadcrumb-icon"> Home</span></a
            >
          </li>
          <li class="breadcrumb-item">RDT</li>
          <li class="breadcrumb-item active" aria-current="page">Registro de Operaciones</li>
        </ol>
      </div>
</div>

<div class="row row-deck">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">                
                <div class="card">
                        
                    <div class="card-body">
                        <div style="width:100%; height:130%">
                            <div>
                                <input type="text" class="redondeado" size="100" (keyup)="applyFilter($event)" placeholder=" Buscar en Instrumentos" autocomplete="off">
                                <button class="btn btn-green" style="margin: 20px;" [disabled]="instrumentosFiltrados.length <= 0" type="submit" (click)="accionCobertura(AsociarFacturasForm)">
                                    {{this.flgFiltrarCoberturados ?  "Deshacer cobertura" : "Asignar cobertura"}}
                                </button>
                                <mat-checkbox name="flgFiltrarCoberturados" [(ngModel)]="flgFiltrarCoberturados" (ngModelChange)="filtrarInstrumentosCoberturados()">{{this.flgFiltrarCoberturados ?  "Instrumentos cubiertos" : "Instrumentos sin cubrir"}} ({{this.nInstrumentos}})</mat-checkbox>
                                <br>
                                <br>
                            </div>
                            <div class="scroll-container" style="width:100%;">
                                <table mat-table #dsSort="matSort" matSort matSortActive="created" matSortDisableClear matSortDirection="desc" style="width:100%" [dataSource]="dataSource" >
                                    
                                    <ng-container matColumnDef="seleccionarInstrumento">
                                        <th mat-header-cell *matHeaderCellDef> Seleccionar <mat-checkbox (change)="seleccionarTodo()" [(ngModel)]="flgSeleccionarTodo"></mat-checkbox> </th>
                                        <td mat-cell *matCellDef="let element"><mat-checkbox (change)="instrumentoSeleccionado(element)" [(ngModel)]="element.flgInstrumentoSeleccionado"></mat-checkbox></td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_registered_by">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registrado Por </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_registered_by}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_registration_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Registro </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_registration_date.toString().slice(6,8)}}/{{element.t463_registration_date.toString().slice(4,6)}}/{{element.t463_registration_date.toString().slice(0,4)}} </td>
                                    </ng-container>
                                    
                                    <ng-container  matColumnDef="t463_code_bbg">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código BBG </th>
                                        <td mat-cell *matCellDef="let element">{{element.t463_code_bbg}}</td>
                                    </ng-container>

                                    <ng-container  matColumnDef="t463_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código Registro </th>
                                        <td mat-cell *matCellDef="let element">{{element.t463_id}}</td>
                                    </ng-container>

                                    <ng-container  matColumnDef="t463_record_type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Registro </th>
                                        <td mat-cell *matCellDef="let element">{{element.t463_record_type}}</td>
                                    </ng-container>

                                    <ng-container  matColumnDef="t463_external_reference">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia Externa </th>
                                        <td mat-cell *matCellDef="let element">{{element.t463_external_reference}}</td>
                                    </ng-container>

                                    <ng-container  matColumnDef="desc_typeOperation">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Operación </th>
                                        <td mat-cell *matCellDef="let element">{{element.desc_typeOperation}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="t459_deal_code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deal Code </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t459_deal_code}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="desc_counterpart_type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Contraparte </th>
                                        <td mat-cell *matCellDef="let element"> {{element.desc_counterpart_type}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="desc_subsidiary">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                                            <mat-form-field>
                                                <mat-label style="color:white">Subsidiaria</mat-label>
                                                <mat-select (selectionChange)="onSelectSubsidiaria()" [(ngModel)]="filtroSubsidiaria" multiple>
                                                    <mat-option *ngFor="let subsidiaria of listSubsidiarias" [value]="subsidiaria">{{subsidiaria}}</mat-option>
                                                </mat-select>



                                                <!-- <ng-select class="form-control form-select" [(ngModel)]="filtroSubsidiaria" (change)="onSelectSubsidiaria($event)" [multiple]="true">
                                                    <ng-option value="{{ subsidiaria.t453Description }}" *ngFor="let subsidiaria of listSubsidiarias" >
                                                    {{ subsidiaria.t453Description }}
                                                    </ng-option>
                                                </ng-select> -->
                                            </mat-form-field>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.desc_subsidiary}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_id_subsidiary">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Subsidiaria </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_id_subsidiary}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_trader_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trader </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_trader_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="desc_counterpart">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contraparte </th>
                                        <td mat-cell *matCellDef="let element"> {{element.desc_counterpart}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_id_modality">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modalidad </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_id_modality}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_counterparty_trader_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cont. Trader </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_counterparty_trader_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="par_moneda">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Par Moneda </th>
                                        <td mat-cell *matCellDef="let element"> {{['EUR', 'GBP', 'JPY', 'CAD', 'AUD', 'CHF'].includes(element.t463_currency_del) ? element.t463_currency_del : element.t463_currency_rec}}/{{['EUR', 'GBP', 'JPY', 'CAD', 'AUD', 'CHF'].includes(element.t463_currency_del) ? element.t463_currency_rec : element.t463_currency_del}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_currency_liqu">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mon. Liquid. </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_currency_liqu}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_nominal_rec">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nominal (USD) </th>
                                        <td mat-cell *matCellDef="let element"> {{(element.t463_currency_rec == "EUR" ? element.t463_nominal_del : element.t463_nominal_rec) | number}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="t463_strike">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Strike </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_strike}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="t463_spot">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Spot </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_spot}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="desc_quotation">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cotización </th>
                                        <td mat-cell *matCellDef="let element"> {{element.desc_quotation}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="t463_start_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_start_date.toString().slice(6,8)}}/{{element.t463_start_date.toString().slice(4,6)}}/{{element.t463_start_date.toString().slice(0,4)}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="t463_end_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fixing </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_end_date.toString().slice(6,8)}}/{{element.t463_end_date.toString().slice(4,6)}}/{{element.t463_end_date.toString().slice(0,4)}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="t463_settlement_date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Liquidación </th>
                                        <td mat-cell *matCellDef="let element"> {{element.t463_settlement_date.toString().slice(6,8)}}/{{element.t463_settlement_date.toString().slice(4,6)}}/{{element.t463_settlement_date.toString().slice(0,4)}} </td>
                                    </ng-container>

                                    <tr  mat-header-row *matHeaderRowDef="displayedColumns sticky: true" style="text-align: center; vertical-align: middle;">
                                    </tr>
                                    
                                    <tr class="tbody" mat-row *matRowDef="let element; columns: displayedColumns;" style="text-align: center; vertical-align: middle;" (contextmenu)="onContextMenu($event, element)">       
                                    </tr>
                                </table>
                            </div> 
                        </div>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #AsociarFacturasForm let-modal>
    <app-asociar-facturas-rtd [visible]="myModal" (close)="cerrarModal($event)" [objForm] = "objetoInitPadre" [dataInstrumentos]="instrumentosFiltrados" [flgDeshacerCobertura]="flgFiltrarCoberturados"></app-asociar-facturas-rtd>
</ng-template>