#deshabilitado{
    color: rgb(168 168 167 / 68%);
}

::ng-deep .class-ComprarFuturo-CM .modal-dialog { 
    max-width: 35%;
    width: 35%;
}

.br {
    display: block;
    margin-bottom: 0.5em;
}
.modal-header {
    background-color: #37aaf1;
    color: white;
}