<div class="page-header fixed-header fret-header">
  <div class="page-leftheader">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h4 class="page-title">Fret CM IFD - {{fechaVigenteEntero.substr(6)+'-'+fechaVigenteEntero.substr(4,2)+'-'+fechaVigenteEntero.substr(0,4) }}</h4>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <button class="btn btnActualizarPalma" (click)="cargarForm(tabSeleccionado)" ngbTooltip="Actualizar Posición" [disabled]="flgCargando">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
          <button class="btn exportarExcel" (click)="obtenerConfirmacionInputs(detalleConfirmaciones)" ngbTooltip="Validar ultima fecha de revisión de inputs">
            <i class="fa fa-reply" aria-hidden="true"></i> Confirmación de Inputs
          </button>
          <button class="btn btnActualizarPalma" *ngIf="mostrarBotonPalma" (click)="actualizaPrecioPalma()" ngbTooltip="Actualizar Precios Palma">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
          <!-- <button class="btn simularFret" (click)="modoSimulacion(detalleConfirmaciones)" [disabled]="!flgHabilitarSimulacion">
            <i class="fa fa-wrench" aria-hidden="true"></i> Simular
          </button> -->
        </div>
      </div>
    </div>
  </div>
    
    <div class="page-rightheader ms-auto d-lg-flex d-none">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="d-flex">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z" />
              <path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3" />
            </svg><span class="breadcrumb-icon"> Home</span></a>
        </li>
        <li class="breadcrumb-item"><span>Fret</span></li>
        <li class="breadcrumb-item active" aria-current="page">Calculo</li>
      </ol>
    </div>
  </div>
  
  <br>
  
  <div class="card-options valorizarPortafolio" ngbDropdown>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <button class="btn exportarExcel" (click)="valorizar()" [disabled]="flgCargando">
          <i class="fa fa-calculator" aria-hidden="true"></i> Valorizar
        </button>
      </div>
    </div>
  </div>
  
  <div class="row row-deck main-content"> 
    <div class="container">
      <div class="row">
  
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header">
  
              <div role="listbox" aria-label="Fish selection" class="mat-chip-listbox" [ngClass]="{'disabled': flgCargando}">
                <div class="mat-chip-option" *ngFor="let opcion of listaProductosFret"
                  (click)="toggleSelection(opcion.descripcion)"
                  [disabled]="flgCargando"
                  [ngClass]="{'selected': selectedOptions.includes(opcion.descripcion)}">
                  {{ opcion.descripcion }}
                </div>
              </div>
              <div class="card-options" ngbDropdown>
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button
                      class="btn exportarExcel"
                      (click)="exportarReporte(1)"
                      [disabled]="flgCargando">
                      <i class="fa fa-file-excel-o" aria-hidden="true"> </i> Exportar FRET
                    </button>
                  </div>
                  <div class="col d-flex justify-content-end">
                    <button
                      class="btn exportarExcel"
                      (click)="exportarReporte(2)"
                      [disabled]="flgCargando">
                      <i class="fa fa-file-excel-o" aria-hidden="true"> </i> Exportar Reporte Cargill
                    </button>
                  </div>
                </div>
              </div>
  
              <!-- <div class="card-options valorizarPortafolio" ngbDropdown>
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button
                      class="btn exportarExcel"
                      type="submit"
                      (click)="valorizar()">
                      <i class="fa fa fa-calculator" aria-hidden="true"> </i> Valorizar
                    </button>
                  </div>
                </div>
  
              </div> -->
              
              
            </div>
            <div class="card-body">
            <ng-container *ngIf="tabSeleccionado !== 'Hedge Estratégico'; else otroComponenteTemplate">
              <div class="row">
                <div class="col col-xl-2 col-lg-2 col-md-2">
                  <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4">
                      <label class="form-label">Fecha :</label>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6">
                        <input
                        class="form-control"
                        type="date"
                        placeholder="YYYY-MM-DD"
                        ngbDatepicker
                        (click)="d1.toggle()"
                        [(ngModel)]="fechaVigente"
                        #d1="ngbDatepicker"
                        (ngModelChange)="actualizarFecha()"
                        name="fechaVigente"
                        readonly
                        [disabled]="flgCargando"/>
                      </div>
                  </div>
                </div>
              </div>
  
              <br>
            
              <div>
                   <!-- Resumen -->
                   <mat-expansion-panel style="width: 100%;">
                    <mat-expansion-panel-header style="width:100%;">
                      <mat-panel-title>
                       <b> 1. Resumen</b>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <div class="table-responsive">
                        <div class="scroll-container" style="width:100%;">
                      <table class="table tablaDetalle text-nowrap" style="width:100%;">
                        <thead style="height: 60px;">
                          <tr style="align-items: center; vertical-align: middle;">
                            <th class="text-center inputTable" style="width:60px"
                                *ngFor="let columna of columnasResultados">
                                {{ columna}}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let registro of arrListaResultados; let rowIndex = index"> 
                            <ng-container *ngFor="let columna of columnasResultados; let i = index">
                                <ng-container *ngIf="i != 0 && !(registro[0] === 'Bases (%)' && tabSeleccionado === 'CPO')">
                                  <td class="text-center"
                                      [class.selected]="isCellSelected(rowIndex, i, 'Resumen')"
                                      (mousedown)="startSelection($event, rowIndex, i, 'Resumen')"
                                      (mousemove)="addToSelection($event, rowIndex, i, 'Resumen')"
                                      (mouseup)="endSelection()"
                                      matTooltip="{{selectionSum | number:'1.0-0'}}">
                                    {{ registro[i] }}
                                  </td>
                                </ng-container> 
                                <ng-container *ngIf="i == 0 && !(registro[0] === 'Bases (%)' && tabSeleccionado === 'CPO')">
                                  <td class="text" style="width: 15%;">
                                    {{ registro[i] }}
                                  </td>
                                </ng-container> 
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                      </div>
  
                      </div>
                      
                      <br>
  
                      <div class="table-responsive">
  
                        <h4> Comparativo Precios (Py) </h4>
  
                        <div class="scroll-container" style="width:100%;">
                      <table class="table tablaDetalle text-nowrap" style="width:100%;">
                        <thead style="height: 60px;">
                          <tr style="align-items: center; vertical-align: middle;">
                            <th class="text-center inputTable" style="width:60px"
                                *ngFor="let columna of columnasResultados">
                                {{ columna}}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let registro of arrListaResultadosComparativo; let rowIndex = index"> 
                            <ng-container *ngFor="let columna of columnasResultados; let i = index">
                                <ng-container *ngIf="i != 0 ">
                                  <td class="text-center"
                                      [class.selected]="isCellSelected(rowIndex, i, 'ResumenComparativo')"
                                      (mousedown)="startSelection($event, rowIndex, i, 'ResumenComparativo')"
                                      (mousemove)="addToSelection($event, rowIndex, i, 'ResumenComparativo')"
                                      (mouseup)="endSelection()"
                                      matTooltip="{{selectionSum | number:'1.0-0'}}">
                                    {{ registro[i] !== '-' ? (registro[i] | number:'1.0-0') : registro[i] }}
                                  </td>
                                </ng-container> 
                                <ng-container *ngIf="i == 0">
                                  <td class="text" style="width: 15%;">
                                    {{ registro[i] }}
                                  </td>
                                </ng-container> 
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
                      </div>
  
                      </div>
  
                    </div>
                  </mat-expansion-panel>
                  
                    <mat-expansion-panel style="width: 100%;">
                      <mat-expansion-panel-header style="width:100%;">
                        <mat-panel-title>
                         <b> 2. Mercado {{unidadMedida}}</b>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
  
                      <div>
                        <div class="table-responsive">
                          <div class="scroll-container" style="width:100%;">
                            <table class="table tablaDetalle text-nowrap" style="width:100%;">
                              <thead style="height: 60px;">
                                <tr style="align-items: center; vertical-align: middle;">
                                  <th class="text-center inputTable" style="width:60px"
                                      *ngFor="let columna of columnasResultados">
                                      {{ columna}}
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let registro of arrListaMercado; let rowIndex = index"> 
                                  <ng-container *ngFor="let columna of columnasResultados; let i = index">
                                    <ng-container *ngIf="i != 0">
                                      <td class="text-center"
                                          [class.selected]="isCellSelected(rowIndex, i, 'Mercado')"
                                          (mousedown)="startSelection($event, rowIndex, i, 'Mercado')"
                                          (mousemove)="addToSelection($event, rowIndex, i, 'Mercado')"
                                          (mouseup)="endSelection()"
                                          matTooltip="{{selectionSum | number:'1.0-0'}}">
                                        {{ registro[i] }}
                                      </td>
                                    </ng-container> 
                                    <ng-container *ngIf="i == 0">
                                      <td class="text" style="width: 15%;">
                                        {{ registro[i] }}
                                      </td>
                                    </ng-container> 
                                  </ng-container>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <br>
                        <ng-container *ngIf="this.selectedOptions[0] == 'CPO'">
                          <div class="table-responsive">
    
                            <h4> Avg. Prices Calculator</h4>
      
                            <div class="scroll-container" style="width:100%;">
                              <table class="table tablaDetalle text-nowrap" style="width:100%;">
                                <thead style="height: 60px;">
                                  <tr style="align-items: center; vertical-align: middle;">
                                    <th class="text-center inputTable" style="width:60px"
                                        *ngFor="let columna of columnasResultados">
                                        {{ columna}}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let registro of listaPrecioFOBPalma; let rowIndex = index"> 
                                    <ng-container *ngFor="let columna of columnasResultados; let i = index">
                                        <ng-container *ngIf="i != 0 ">
                                          <td class="text-center">
                                            {{ registro[i] !== '-' ? (registro[i] | number:'1.0-0') : registro[i] }}
                                          </td>
                                        </ng-container> 
                                        <ng-container *ngIf="i == 0">
                                          <td class="text" style="width: 15%;">
                                            {{ registro[i] }}
                                          </td>
                                        </ng-container> 
                                    </ng-container>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </mat-expansion-panel>
                    <!-- Fin Mercado -->
  
                    
                    <!-- Posicion -->
                    <mat-expansion-panel style="width: 100%;">
                      <mat-expansion-panel-header style="width:100%;">
                        <mat-panel-title>
                         <b> 3. Posición</b>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>
                        <div *ngFor="let tabla of listaTablasPosicion">
                          <h4>{{tabla.nombreTabla}}</h4>
                          <div class="table-responsive">
                            <div class="scroll-container" style="width:100%;">
                              <table class="table tablaDetalle text-nowrap" style="width:100%;">
                                <thead style="height: 60px;">
                                  <tr style="align-items: center; vertical-align: middle;">
                                    <th class="text-center inputTable" style="width:250px"
                                      *ngFor="let columna of columnasPosicion">
                                      {{ columna[0] }}
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let registro of tabla.data; let rowIndex = index">
                                    <ng-container *ngFor="let columna of columnasPosicion; let i = index">
                                        <ng-container *ngIf="columna[1] == 'number'">
                                          <ng-container *ngIf="tabla.nombreTabla == 'Flete' || tabla.nombreTabla == 'Flat'" >
                                            <ng-container *ngIf="rowIndex == 0 || rowIndex == 2">
                                              <td class="text-center"
                                                  [class.selected]="isCellSelected(rowIndex, columna, tabla.nombreTabla)"
                                                  (mousedown)="startSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mousemove)="addToSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mouseup)="endSelection()"
                                                  matTooltip="{{selectionSum | number:'1.0-0'}}"
                                                  (contextmenu)="onContextMenu($event, registro, tabla.nombreTabla)">
                                                {{ formatearRegistro(registro, columna).esNumero ? 
                                                  (formatearRegistro(registro, columna).valor | number:'1.0-0') : 
                                                  formatearRegistro(registro, columna).valor }}
                                              </td>
                                            </ng-container>
                                            <!-- (contextmenu)="onContextMenu($event, registro, tabla.tipoIFD)" -->
                                            <ng-container *ngIf="rowIndex != 0 && rowIndex != 2">
                                              <td class="text-center"
                                                  [class.selected]="isCellSelected(rowIndex, columna, tabla.nombreTabla)"
                                                  (mousedown)="startSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mousemove)="addToSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mouseup)="endSelection()"
                                                  matTooltip="{{selectionSum | number:'1.0-0'}}"
                                                  (contextmenu)="onContextMenu($event, registro, tabla.nombreTabla)">
                                                {{ formatearRegistro(registro, columna).esNumero ? 
                                                  (formatearRegistro(registro, columna).valor | number:'1.4-4') : 
                                                  formatearRegistro(registro, columna).valor }}
                                              </td>
                                            </ng-container>
                                          </ng-container>
                                          <ng-container *ngIf="tabla.nombreTabla != 'Flete' && tabla.nombreTabla != 'Flat'" >
                                            <ng-container *ngIf="rowIndex == 0 || rowIndex == 1 || rowIndex == 3">
                                              <td class="text-center"
                                                  [class.selected]="isCellSelected(rowIndex, columna, tabla.nombreTabla)"
                                                  (mousedown)="startSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mousemove)="addToSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mouseup)="endSelection()"
                                                  matTooltip="{{selectionSum | number:'1.0-0'}}">
                                                {{ formatearRegistro(registro, columna).esNumero ? 
                                                  (formatearRegistro(registro, columna).valor | number:'1.0-0') : 
                                                  formatearRegistro(registro, columna).valor }}
                                              </td>
                                            </ng-container>
                                            <ng-container *ngIf="rowIndex != 0 && rowIndex != 1 && rowIndex != 3">
                                              <td class="text-center"
                                                  [class.selected]="isCellSelected(rowIndex, columna, tabla.nombreTabla)"
                                                  (mousedown)="startSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mousemove)="addToSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                  (mouseup)="endSelection()"
                                                  matTooltip="{{selectionSum | number:'1.0-0'}}">
                                                {{ formatearRegistro(registro, columna).esNumero ? 
                                                  (formatearRegistro(registro, columna).valor | number:'1.4-4') : 
                                                  formatearRegistro(registro, columna).valor }}
                                              </td>
                                            </ng-container>
                                          </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="columna[1] == 'string'">
                                          <td class="text" style="width: 15%;">
                                            {{ registro[columna[0]]}}
                                          </td>
                                        </ng-container>
                                    </ng-container>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                    <!-- Fin Posicion -->
                    
                    
                    <!-- Resultado  -->
                    <mat-expansion-panel style="width: 100%;">
                      <mat-expansion-panel-header style="width:100%;">
                        <mat-panel-title>
                          <b>4. Resultados</b>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>
                        <div class="table-responsive">
  
                          <div *ngFor="let tabla of listaTablasResultados">
                            <h4>{{tabla.nombreTabla}}</h4>
                            <div class="table-responsive">
                              <div class="scroll-container" style="width:100%;">
                                <table class="table tablaDetalle text-nowrap" style="width:100%;">
                                  <thead style="height: 60px;">
                                    <tr style="align-items: center; vertical-align: middle;">
                                      <th class="text-center inputTable" style="width:250px"
                                        *ngFor="let columna of columnasPosicion">
                                        {{ columna[0] }}
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let registro of tabla.data; let rowIndex = index">
                                      <ng-container *ngFor="let columna of columnasPosicion; let i = index">
                                          <ng-container *ngIf="i != 0">
                                            <td class="text-center"
                                                [class.selected]="isCellSelected(rowIndex, columna, tabla.nombreTabla)"
                                                (mousedown)="startSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                (mousemove)="addToSelection($event, rowIndex, columna, tabla.nombreTabla)"
                                                (mouseup)="endSelection()"
                                                matTooltip="{{selectionSum | number:'1.0-0'}}">
                                              <!-- {{ registro[columna[0]] }} -->
                                              <!-- {{ registro[columna[0]] !== '-' ? (registro[columna[0]] | number:'1.0-0') : registro[columna[0]] }} -->

                                              {{ formatearRegistro(registro, columna).esNumero ? 
                                                (formatearRegistro(registro, columna).valor | number:'1.0-0') : 
                                                formatearRegistro(registro, columna).valor }}

                                            </td>
                                          </ng-container> 
                                          <ng-container *ngIf="i == 0">
                                            <td class="text" style="width: 15%;">
                                              {{ registro[columna[0]] }}
                                            </td>
                                          </ng-container>
                                      </ng-container>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </mat-expansion-panel>
               
                <div class="tabla-table-container">
                  <div style="width: 100%;">
                    <div *ngFor="let tabla of arrListaConsultaIFD; let tablaIndex = index">
                      <mat-expansion-panel style="width: 100%;">
                        <mat-expansion-panel-header style="width:100%;">
                          <mat-panel-title>
                            <ng-container *ngIf="tabla.tipoIFD === 'Liquidadas'; else abierto"><b> 6. IFDs - {{ tabla.tipoIFD }}</b></ng-container>
                            <ng-template #abierto><b> 5.{{tablaIndex+1 }} IFDs - {{ tabla.tipoIFD }} </b></ng-template>
                          </mat-panel-title>
  
                        </mat-expansion-panel-header>
                        <div>
  
                          <div class="table-responsive">
                            <div class="scroll-container" style="width:100%;">
                              <table class="table tablaDetalleAjustado text-nowrap" style="width:100%;">
                                <thead style="height: 60px;" [ngClass]="{'liquidaciones': tabla.tipoIFD === 'Liquidadas'}">
                                  <tr style="align-items: center; vertical-align: middle;">
                                    <th class="text-center inputTable" style="width:60px"
                                      *ngFor="let columna of tabla.cabecera; let columnIndex = index"
                                      (click)="onSortColumn(columna.propiedad, tablaIndex)"
                                      [innerHTML]="columna.descripcionFO">
                                      <!-- {{ columna.descripcionFO }} -->
                                      <i class="fa fa-sort"
                                        *ngIf="sortDirections[tablaIndex][columna.propiedad] === 'asc'"></i>
                                      <i class="fa fa-sort-desc"
                                        *ngIf="sortDirections[tablaIndex][columna.propiedad] === 'desc'"></i>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr
                                    *ngFor="let registro of tabla.dataIFD; let rowIndex = index">  <!--.slice(startIndexs[tablaIndex], endIndexs[tablaIndex]); -->
                                    <ng-container *ngFor="let columna of tabla.cabecera; let i = index">                                    
                                      <td class="text-center"
                                      [class.selected]="isCellSelected(rowIndex, columna.propiedad, 'IFDs - ' + tabla.tipoIFD)"
                                      (mousedown)="startSelection($event, rowIndex, columna.propiedad, 'IFDs - ' + tabla.tipoIFD)"
                                      (mousemove)="addToSelection($event, rowIndex, columna.propiedad, 'IFDs - ' + tabla.tipoIFD)"
                                      (mouseup)="endSelection()"
                                      matTooltip="{{selectionSum | number:'1.0-0'}}"
                                      (contextmenu)="onContextMenu($event, registro, tabla.tipoIFD)" [ngSwitch]="columna.propiedad" [ngStyle]="columna.propiedad === 'precioActual' ? getColor(registro['precioActual'],registro['precioAnterior']) : {}">
                                        <ng-container *ngIf="columna.propiedad !== 'precioActual'" >
                                          <ng-container *ngSwitchCase="'s303_ComentariosFO'">
                                            <input type="text" style="width: 200px;" class="form-control"
                                              [(ngModel)]="registro[columna.propiedad]"
                                              (input)="registro[columna.propiedad] = _handleInput(registro[columna.propiedad])"
                                              (change)="guardadoAutomatico(registro, columna, tabla.tipoIFD)">
                                          </ng-container>
                                          <ng-container *ngSwitchCase="'s303_M2M'">
                                            <ng-container *ngIf="i != 0">
                                              <ng-container *ngIf="registro[columna.propiedad] >= 0">
                                                <span style="color: blue;">
                                                  {{ registro[columna.propiedad] | number:'1.1-2' }}
                                                </span>
                                              </ng-container> 
                                              <ng-container *ngIf="registro[columna.propiedad] < 0">
                                                <span style="color: red;">
                                                  {{ registro[columna.propiedad] | number:'1.1-2' }}
                                                </span>
                                              </ng-container> 
                                            </ng-container> 
                                          </ng-container>
                                          <ng-container *ngSwitchDefault>
                                            {{ registro[columna.propiedad] }}
                                          </ng-container>
                                        </ng-container>
                                    
                                        <ng-container *ngIf="columna.propiedad === 'precioActual'" >
                                          <ng-container *ngSwitchCase="'s303_ComentariosFO'">
                                            <input type="text" style="width: 200px;" class="form-control"
                                              [(ngModel)]="registro[columna.propiedad]"
                                              (input)="registro[columna.propiedad] = _handleInput(registro[columna.propiedad])"
                                              (change)="guardadoAutomatico(registro, columna, tabla.tipoIFD)">
                                          </ng-container>
                                          <ng-container *ngSwitchCase="'s303_M2M'">
                                            {{ registro[columna.propiedad] | number:'1.1-2' }}
                                          </ng-container>
                                          <ng-container *ngSwitchDefault >
                                            {{ registro[columna.propiedad] }}
                                          </ng-container>
                                        </ng-container>
                                      </td>
                                    </ng-container>
                                    
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </div>
  
                <!-- Posicion -->
                <mat-expansion-panel style="width: 100%;">
                  <mat-expansion-panel-header style="width:100%;">
                    <mat-panel-title>
                     <b> 7. Papeles Liquidados</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                 
                    <div class="scroll-container" style="width:100%;">
  
                      <table class="table tablaDetalleAjustado text-nowrap" style="width:100%;">
                        <thead style="height: 60px;" class="liquidaciones">
                          <tr style="align-items: center; vertical-align: middle;">
                            <th class="text-center inputTable" style="width:60px"
                              *ngFor="let columna of columnasPapelesLiquidados">
                              {{ columna[1]}}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let registro of arrListaConsultaPapelesLiquid; let rowIndex = index"> 
                            <ng-container *ngFor="let columna of columnasPapelesLiquidados; let i = index">
                              <td class="text-center"
                                  [class.selected]="isCellSelected(rowIndex, i, 'ResumenComparativo')"
                                  (mousedown)="startSelection($event, rowIndex, i, 'ResumenComparativo')"
                                  (mousemove)="addToSelection($event, rowIndex, i, 'ResumenComparativo')"
                                  (mouseup)="endSelection()"
                                  matTooltip="{{selectionSum | number:'1.0-0'}}">
                                <ng-container *ngIf="columna[2] == 'fecha'">
                                  {{ registro[i] | date: "dd/MM/yyyy" }}
                                </ng-container>
                                <ng-container *ngIf="columna[2] == 'string'">
                                  {{ registro[i] }}
                                </ng-container>
                              </td>
                            </ng-container>
                          </tr>
                        </tbody>
                      </table>
  
                    </div>
                </mat-expansion-panel>
                <!-- Fin Posicion -->
              </div>
            </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
          [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
  </div> 
  <mat-menu #contextMenu="matMenu" #contextMenu2="matMenu">
          <ng-template matMenuContent let-item="item">
                  <button mat-menu-item 
                          (click)="modalDetalleIFD(ModificarIFDForm)">Ver Detalle</button>                
          </ng-template>
  </mat-menu>
  
  <ng-template #detalleConfirmaciones let-modal>
    <div role="document" > <!--class="msg_card_body" -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lista Confirmaciones</h5>
          <button
            type="button"
            class="btn-close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table
              id="myTable1"
              class="table table-bordered text-nowrap"
              style="width: 100%"
            >
              <!-- table-striped -->
              <thead>
                <tr class="bold">
                  <th class="border-bottom-0">#</th>
                  <th class="border-bottom-0">Sociedad</th>
                  <th class="border-bottom-0">Input</th>
                  <th class="border-bottom-0">Fecha <br />Confirmada</th>
                  <th class="border-bottom-0">Fecha <br />Confirmación</th>
                  <th class="border-bottom-0">Usuario <br />Confirmación</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let lista of tablaDetalleConfirmaciones; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ lista.sociedad }}
                  </td>
                  <td>
                    {{ lista.grupoInput }}
                  </td>
                  <td>
                    {{ lista.fechaConfirmacion | date: "dd/MM/yyyy" }}
                  </td>
                  <td>
                    {{ lista.horaConfirmacion }}
                  </td>
                  <td>
                    {{ lista.usuarioConfirma }}
                  </td>
                </tr>
              </tbody>
            </table>
        
          </div>
          <!-- <div class="py-1">
            
          </div> -->
        </div>
      </div>
    </div>
  </ng-template>
  
  <mat-spinner  class="custom-spinner"
  *ngIf="loading$ | async"  
  [mode]="'indeterminate'"
  [value]=50
  [diameter]="50">
  </mat-spinner>

  <ng-template #otroComponenteTemplate>
   <app-hedgestrategic></app-hedgestrategic>
  </ng-template>