<div class="page-header">
  <div class="page-leftheader">
    <h4 class="page-title">Tablero Límites</h4>
    <div class="dashboard-container">
      <iframe 
        title="RRFF-TableroLimites_MR_VF" 
        src="https://app.powerbi.com/view?r=eyJrIjoiNzZlYTAzN2YtZGVkYi00ZmJiLWEwOTktODBjODRkNzk5OGJjIiwidCI6Ijk4MjAxZmVmLWQ5ZjYtNGU2OC04NGY1LWMyNzA1MDc0ZTM0MiIsImMiOjR9&navContentPaneEnabled=false&filterPaneEnabled=false" 
        frameborder="0" 
        allowFullScreen="true"
        class="responsive-iframe">
      </iframe>
    </div>
  </div>
</div>
