.ion-checkmark-circled{
    color:rgb(75, 130, 45);
}

.ion-close-circled{
    color:#37aaf1;
}

.btn-primary:disabled {
    color: white;
    background-color: #87CEFA /*#1e5532; PANAMA */;
    border-color: #87CEFA /*#1e5532; PANAMA */;
}