.mat-chip-listbox {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mat-chip-option {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 16px;
    background-color: #e0e0e0;
    cursor: pointer;
    font-size: 16px; /* Tamaño de la letra ajustable */
  }
  
  .mat-chip-option:hover {
    background-color: #bdbdbd;
  }
  
  .mat-chip-option.selected {
    background-color: #1e5532;
    color: #ffffff;
  }
  
  .exportarExcel {
    background-color: #1e5532;
    color: #ffffff;
  }
  
  .simularFret {
    background-color: #00BFD6;
    color: #ffffff;
  }
  
  .mat-chip-option.accent {
    background-color: #ff4081;
    color: #ffffff;
  }
  
  .mat-chip-option.warn {
    background-color: #ff5722;
    color: #ffffff;
  }
  
  .mat-chip-option.selected::before {
    content: '\2713';
    margin-right: 4px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  @keyframes fade-in-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .br {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  table thead {
    background-color: rgb(64, 64, 64);
  }
  
  .liquidaciones {
    background-color: rgb(15, 58, 200) !important;
  }
  
  
  tbody tr:hover {
    background-color: rgba(120, 185, 40, 0.205);
    cursor: pointer;
  }
  
  #b1 {
    white-space: normal;
  }
  
  .tablaDetalle th {
    text-transform: none;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  
  .table-container {
    overflow-x: auto;
    max-width: 100%;
    max-height: 600px; /* Define la altura de la tabla */
    overflow-y: auto;  /* Activa el scroll vertical */
    border: 1px solid #ddd; /* Opcional: añade un borde */
    position: relative;
  }
  
  .table {
    width: max-content;
  }
  
  .scroll-container {
    position: relative;
    min-height: 200px;
    max-height: 700px;
  
    max-width: 100%;
    overflow: auto;
  }
  
  mat-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  :host ::ng-deep .custom-spinner circle{   
    stroke:  rgb(75, 130, 45);
    stroke-opacity: 1 !important;
  }
  
  .valorizarPortafolio {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    margin-bottom: 10px;
  }
  
  .valorizarPortafolio button {
    background-color: #dba703;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 153px; /* Establecemos un ancho mínimo para el botón */
  
    margin-top: 144%; /* Added margin-top to move the button down */
    margin-right: 39%; /* Added margin-top to move the button down */
  }
  
  ::ng-deep .listaConfirmaciones .modal-dialog { 
    max-width: 50%;
    width: 50%;
  }
  
  .disabled {
    pointer-events: none; /* Evita que los eventos del mouse se disparen en el div */
    opacity: 0.6; /* Reducir la opacidad para indicar que está deshabilitado */
    /* Puedes agregar otros estilos para hacer que parezca deshabilitado */
  }
  
  .btnActualizarPalma {
    background-color: #495057;
    color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-leftheader {
    padding: 10px 0;
  }

  .page-title {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    
    .col-md-7 .d-flex {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    
    .btn {
      margin-top: 10px;
    }
  }

  .detalleliquidaciones {
    background-color: rgb(15, 58, 200) !important;
    color: white;
  font-weight: bold;
  font-size: 14px;
  }
  .resumenliquidacion {
    background-color: rgb(64, 64, 64);
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  .negative-value {
    color: red;
  }
  
  .positive-value {
    color: blue;
  }
  .positive{
    color: rgb(12, 12, 79);
  }
  .negrita {
    font-weight: bold;
  }
  .last-row {
    border-top: 3px solid rgb(42, 39, 39);
  }
  :host ::ng-deep .table {
    user-select: none; /* Desactiva la selección de texto */
  }
  .mat-cell {
    cursor: pointer;
    text-align: center; 
    border-right: 1px solid rgb(196, 195, 195);
    padding: 15px;
  }
  .mat-header-cell {
    border-right: 1px solid rgb(192, 189, 189); /* Línea vertical derecha en el encabezado */
  }
  
  .mat-cell.selected {
    background-color: rgb(245, 245, 127); /* Fondo amarillo */
    // border: 4px solid rgba(245, 245, 127, 0.9);   /* Borde amarillo transparente */
    box-sizing: border-box; /* Asegura que el borde no afecte el tamaño de la celda */
}
.mat-tooltip {
  font-size: 50px; /* Ajusta el tamaño según lo necesites */
  padding: 10px;   /* Opcional: aumenta el padding si quieres más espacio */
  max-width: none; /* Opcional: evita que se trunque el texto */
}
.mat-header-row,
.mat-header-cell {
  position: sticky; /* Hace que los headers se mantengan visibles */
  top: 0;           /* Define la posición superior */
  z-index: 10;      /* Asegura que los headers queden por encima del contenido */
}

.filter-icon {
  cursor: pointer;
  color: rgb(171, 168, 168); 
  margin-left: 8px; /* Agrega margen a la izquierda para separar el ícono del texto */
  vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
}
.filter-menu {
  min-width: 200px; /* Ajusta el tamaño mínimo del menú */
  max-width: 300px; /* Ajusta el tamaño máximo del menú */
}

.filter-menu-content {
  display: flex;
  flex-direction: column; 
  padding: 0.2rem 1rem;;
}

.header-content {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto y el ícono */
  justify-content: right; /* Alinea el contenido a la izquierda */
}

.header-content span {
  flex-grow: 1; /* Ocupa el espacio disponible para empujar el ícono a la derecha */
}

mat-checkbox {
  margin: 0.01;
  padding: 0.01; 
}
mat-menu { 
  min-width: auto; /* Ajustar el ancho mínimo del menú si es necesario */
}
::ng-deep .custom-menu {
  max-height: 400px; /* Altura máxima del menú */
  overflow-y: auto; /* Habilitar scroll si excede la altura */
}

.filter-icon.filter-applied {
  color: rgb(2, 15, 2); /* Color cuando hay un filtro aplicado */
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: blue !important; /* Cambiar color de fondo a azul */
}

::ng-deep .mat-checkbox-checked .mat-checkbox-checkmark-path {
  stroke: white !important; /* Color de la marca del check */
}
::ng-deep .mat-sort-header {
  color: white; /* Cambiar el color del texto */
}